body {
    background:rgb(177, 177, 255);
    font-family:arial;
    padding: 30px, 10px, 20px, 10px;

}

h3 {
    color:rgb(13, 87, 13); 
}

.class1 {
    background:rgb(255, 255, 127);
    color:rgb(199, 0, 0);
}
