body {
    background:rgb(255, 144, 124);
    font-family: arial, sans-serif;
    color: rgb(255, 72, 40);
    text-align: center;
    margin:0px;
    padding:0px;

}

.page-wrapper {
    box-sizing: border-box;
    background: white;
    margin:10px;
    width: 100%-10px;
}

header {
    padding: 15px;
    font-size: 2em;
}

.blogs ul {
    background: rgb(233, 121, 121);
    color: rgb(179, 47, 65);
    
}

.blogs ul li {
    padding: 10px;

}

